# -*- mode: editorconfig-conf -*-
# https://EditorConfig.org

# top-most EditorConfig file; stop searching for other files
root = true

# Defaults for every file
[*]
end_of_line = lf            # Unix-style newlines
insert_final_newline = true # newline ending every file
trim_trailing_whitespace = true

# Indents
indent_style = space
indent_size = 4
