{;; Forked from https://gist.github.com/kaushikgopal/ff7a92bbc887e59699c804b59074a126
 ;; Per https://news.ycombinator.com/item?id=34757898
 ;; Keys: https://github.com/yqrashawn/GokuRakuJoudo/blob/0d96515dc7f533c934f6320d8fd0a41f15ac8413/src/karabiner_configurator/keys_info.clj
 ;; :!Ca is keycode :a and prefix a with !C

 ;; C  | left_command
 ;; T  | left_control
 ;; O  | left_option
 ;; S  | left_shift
 ;; F  | fn
 ;; Q  | right_command
 ;; W  | right_control
 ;; E  | right_option
 ;; R  | right_shift
 ;; P  | caps_lock
 ;; !! | command + control + optional + shift (hyper)

 ;; code for all this:
 ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68

 ;; FROM modifiers
 ;; to understand better how modifiers work in karabiner
 ;; karabiner definition of mandatory and optional
 ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

 ;;    | no modifier
 ;;                  input key maps to output key exactly
 ;;                  adding any modifier will cancel the event

 ;; !  | mandatory
 ;;                  specified modifier is removed in output (to event)
 ;;                  specified modifiers must be present for event to occur
 ;;                  adding any other modifier will cancel the event

 ;; #  | optional (single)
 ;;                  specified modifier is kept in output (to event)
 ;;                  one (or none) of the specified modifiers must be present
 ;;                  adding any other modifier will cancel the event

 ;; ## | optional any
 ;;                  specified modifier is removed in output (to event)
 ;;                  specified modifiers *must* be present for event to occur
 ;;                  adding any other modifier will add to output event
 ;;                  (what you typically expect, additional modifiers tacked on)
 ;;
 ;; need to prefix C T O S F with ! or #
 ;;


 :profiles {:Default {:default true

                      :sim     50     ;; simultaneous_threshold_milliseconds (def: 50)
                      ;; if keydown event for two different keys are pressed within :sim ms, the keypresses are considered simultaneous
                      :delay   300    ;; to_delayed_action_delay_milliseconds (def: 500)
                      ;; after :delay ms, the key press is considered to be delayed (used for double-press macros)
                      :alone   500    ;; to_if_alone_timeout_milliseconds (def: 1000)
                      ;; if keyup event comes within :alone ms from keydown, the key is not just pressed but held
                      :held    500    ;; to_if_held_down_threshold_milliseconds (def: 500)
                      ;; key is fired twice when :held ms is elapsed (otherwise seen as a hold command) (TODO WHAT IS THIS??)
                      }};; profiles

; the default value is 250
 :simlayer-threshold 500


 ;; layers are basically "hyper" keys
 ;; press this in combination with something else and depending on your rule, make things happen
 :layers {:caps-mode {:key :caps_lock :alone {:key :escape}}} ;; layers

 ;; simlayers are basically "hyper" keys
 ;; layers works too, but only recommended for non-typing keys like . or tab
 ;; to use more regular typing keys, use simlayers
 :simlayers {:caps_lock-mode {:key :caps_lock}
             :one-mode {:key :1}} ;; simlayers

 :applications {:terminals  ["^com\\.apple\\.Terminal$",
                             "^com\\.googlecode\\.iterm2$",
                             "^net\\.kovidgoyal\\.kitty$"]}

 ;; main contains multiple manipulators
 :main [;; each manipulator has a description and multiple rules

        ;;{:des "..."                               ;; -> description
        ;; :rules[
        ;;          [<from>  <to>  <conditions>]    ;; -> rule 1
        ;;          [<from>  <to>  <conditions>]    ;; -> rule 2
        ;; ]}

        ;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
        ;;       |_____| |_______________| |_| |_________________________________________|
        ;;        <from>    <to>      <conditions>         <other options>
        ;;
        ;; karabiner docs: ;; https://pqrs.org/osx/karabiner/json.html#complex_modifications-manipulator-definition
        ;; <other options> includs ~to_if_alone~, ~to_if_held_down~,~to_after_key_up~, ~to_delayed_action~ and ~parameters~.
        ;;

        ;; (custom variables) & modifiers -> Advanced
        ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#custom-variable

        {:des "testing"
         :rules [;; Alt -> Hyper
                 ;;   [:##right_alt :!QWEright_shift]

                 ;; easier reach to modifier keys
                 ;;[:##slash :right_command  nil {:alone :slash}]
                 ;; [:##z     :left_control   nil {:alone :z}]

                 ;; easier key launches
                 ;;[[:f :j] :!Ospacebar] ;; alfred

                 ;; Alt -> [] or Meh(Control Shift Option): secondary thumb keys
                 ;; [:right_alt :!CTOleft_shift :apple]
                 ;; [:##application :!TOleft_shift :g915]
                 ;; [:##left_control :!TOleft_shift :apple]

                 ;; Simultaneous key combos
                 [[:q :r] :!Ca]  ;; q + p → CMD+A (select all)
                 [[:x :c] :!Cc]  ;; x + c → CMD+C (copy)
                 [[:c :v] :!Cv]  ;; c + v → CMD+V (paste)
                 [[:v :b] :!Cx]  ;; v + b → CMD+X (cut)
                 [[:z :x] :!Cz]  ;; z + x → CMD+Z (undo)
                 [[:z :x :c] :!CSz]  ;; z + x + c → CMD+SHIFT+Z (redo)
                 [[:s :d :j] :!Odelete_or_backspace]  ;; s + d + j → Option+Backspace (delete word)
                 [[:z :c] [:!Ca :!Cc]]  ;; z + c → CMD+A then CMD+C (select all + copy)
                 [[:q :w] [:!Ta :!CSright_arrow]]  ;; q + w → Ctrl+A then Shift+Cmd+Right (select to end of line)
                 [[:z :v] :!CSv]  ;; z + v → CMD+SHIFT+V (clipboard manager)
                 [[:i :o] [:o :semicolon :i]]  ;; i + o → types 'you' (o;i in Colemak)
                 [[:q :f] [:f :h :a :f]]  ;; q + f → types 'that' (fhaf in Colemak)
                 [[:d :f :j] [:f :h :k]]  ;; d + f + j → types 'the' (fhk in Colemak)
                 [[:e :r] :!Ctab]  ;; e + r → CMD+Tab (switch apps)
                 [[:w :e] :!Cspacebar]  ;; w + e → CMD+Space (launcher)
                 [[:q :e] [:grave_accent_and_tilde :grave_accent_and_tilde :left_arrow]]  ;; q + e → types `` then left_arrow (inline code in markdown)
                 [[:q :t] [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde]]  ;; q + t → types ``` (code block in markdown)
                 ]}

        ;; ----------------------------------
        ;; Hardware keyboard mappings
        ;; ----------------------------------

        ;; ----------------------------------
        ;; Key mappings
        ;; ----------------------------------

        ;; This (simlayer) didn't work as well as layer because of a delay.
        ;; {:des "Caps to hyper, esc if alone",
        ;;      :rules [:caps_lock-mode
        ;;              [:open_bracket :!!open_bracket]
        ;;              [:close_bracket :!!close_bracket]
        ;;              [:semicolon :!!semicolon]
        ;;              [:quote :!!quote]
        ;;              [:comma :!!comma]
        ;;              [:period :!!period]
        ;;              [:slash :!!slash]
        ;;              [:a :!!a]
        ;;              [:b :!!b]
        ;;              [:c :!!c]
        ;;              [:d :!!d]
        ;;              [:e :!!e]
        ;;              [:f :!!f]
        ;;              [:g :!!g]
        ;;              [:h :!!h]
        ;;              [:i :!!i]
        ;;              [:j :!!j]
        ;;              [:k :!!k]
        ;;              [:l :!!l]
        ;;              [:m :!!m]
        ;;              [:n :!!n]
        ;;              [:o :!!o]
        ;;              [:p :!!p]
        ;;              [:q :!!q]
        ;;              [:r :!!r]
        ;;              [:s :!!s]
        ;;              [:t :!!t]
        ;;              [:u :!!u]
        ;;              [:v :!!v]
        ;;              [:w :!!w]
        ;;              [:x :!!x]
        ;;              [:y :!!y]
        ;;              [:z :!!z]
        ;;              [:1 :!!1]
        ;;              [:2 :!!2]
        ;;              [:3 :!!3]
        ;;              [:4 :!!4]
        ;;              [:5 :!!5]
        ;;              [:6 :!!6]
        ;;              [:8 :!!8]
        ;;              [:7 :!!7]
        ;;              [:9 :!!9]
        ;;              [:0 :!!0]]}

        {:des "hyper+r (r)aycast sublayer keys"
 :rules [;; Map qwerty equivalent in Colemak, i.e. k for e.
         ;; g
         [:##t "open raycast://extensions/josephschmitt/gif-search/search" [:r-sub-layer-mode]]
         ;; '
         [:##quote "open raycast://extensions/raycast/emoji-symbols/search-emoji-symbols" [:r-sub-layer-mode]]
         ;; Double tap to send the original key
         [:##s :!!s [:r-sub-layer-mode]]]}
        {:des "hyper+o (o)pen sublayer keys"
         :rules [;; Map qwerty equivalent in Colemak, i.e. k for e.
                 [:##b "open -a \"$HOME/Applications/Chrome Apps.localized/Google Chat.app\"" [:o-sub-layer-mode]]
                 [:##c "open -a 'Visual Studio Code.app'" [:o-sub-layer-mode]]
                 ; f
                 [:##e "open -a 'Finder.app'" [:o-sub-layer-mode]]
                 ; t
                 [:##f "open -a 'Telegram.app'" [:o-sub-layer-mode]]
                 ; d
                 [:##g "open -a 'Discord.app'" [:o-sub-layer-mode]] ; Discord
                 ; e
                 [:##k "open -a Arc.app" [:o-sub-layer-mode]]
                 ; i
                 [:##l "open -a 'kitty.app'" [:o-sub-layer-mode]] ; kitty
                 [:##m "open -a 'Messenger.app'" [:o-sub-layer-mode]]
                 ; p
                 [:##r "open -a \"$HOME/Applications/Chrome Apps.localized/Google Calendar.app\"" [:o-sub-layer-mode]]
                 ; g
                 [:##t "open -a 'Google Chrome.app'" [:o-sub-layer-mode]]
                 [:##w "open -a \"$HOME/Applications/Chrome Apps.localized/Gmail.app\"" [:o-sub-layer-mode]]
                 [:##x "open -a \"$HOME/Applications/Chrome Apps.localized/Cider V.app\"" [:o-sub-layer-mode]]
                 ;; Double tap to send the original key
                 [:##semicolon :!!semicolon [:o-sub-layer-mode]]]}

        {:des "caps lock mode: hyper, quick reach for cursor etc."
         :rules [:caps-mode
                 ;; switch tabs in most apps
                 ;; Cmd Shift [
                 [:##comma :!CSopen_bracket]
                 ;; Cmd Shift ]
                 [:##period :!CSclose_bracket]

                 ;; Quick Mouse handles
                 [:down_arrow {:mkey {:y 1536}}]
                 [:up_arrow {:mkey {:y -1536}}]
                 [:left_arrow {:mkey {:x -1536}}]
                 [:right_arrow {:mkey {:x 1536}}]
                 [:return_or_enter {:pkey :button1}]
                 [:!Creturn_or_enter {:pkey :button2}]

                 [:##a :!!a]
                 [:##b :!!b]
                 [:##c :!!c]
                 [:##d :!!d]
                 [:##e :!!e]
                 [:##f :!!f]
                 [:##g :!!g]
                 [:##h :!!h]
                 [:##i :!!i]
                 [:##j :!!j]
                 [:##k :!!k]
                 [:##l :!!l]
                 [:##m :!!m]
                 [:##n :!!n]
                 [:##o :!!o]
                 [:##p :!!p]
                 [:##q :!!q]
                 [:##r :!!r]
                 ;; Comment out below to enable `r-sub-layer-mode`.
                 [:##s :!!s]
                 [:##t :!!t]
                 [:##u :!!u]
                 [:##v :!!v]
                 [:##w :!!w]
                 [:##x :!!x]
                 [:##y :!!y]
                 [:##z :!!z]
                 [:##1 :!!1]
                 [:##2 :!!2]
                 [:##3 :!!3]
                 [:##4 :!!4]
                 [:##5 :!!5]
                 [:##6 :!!6]
                 [:##8 :!!8]
                 [:##7 :!!7]
                 [:##9 :!!9]
                 [:##0 :!!0]
                 ;; Comment out below to enable `o-sub-layer-mode`.
                 [:##semicolon :!!semicolon] ;; `o` in Colemak

                 [:##quote :!!quote] ;; `'` in Colemak
                 [:##slash :!!slash]
                 [:##open_bracket :!!open_bracket]
                 [:##close_bracket :!!close_bracket]
                 [:##hyphen :!!hyphen]
                 [:##equal_sign :!!equal_sign]
                 [:##backslash :!!backslash]
                 [:##grave_accent_and_tilde :!!grave_accent_and_tilde]
                ;; Reference code for sublayer modes.
                ;;   {:des "tap sub layer then keys"
                ;;    :rules [; If o-sub-layer-mode is on, run this command when a is
                ;;            ; pressed. Anything that depends on the o-sub-layer-mode being
                ;;            ; set must come _before_ the delayed declaration.
                ;;            [:a "open https://github.com/yqrashawn/GokuRakuJoudo" [:o-sub-layer-mode]]
                ;;            [:b "open -a Arc.app" [:o-sub-layer-mode]]
                ;;            ;; One idea of working around being able to send cmd+o
                ;;            [:o :!Csemicolon [:o-sub-layer-mode]]
                ;;            ;; # Doesn't work because then can't send 'o' without it being caught
                ;;            ;; #  | optional (single)
                ;;            ;;                  specified modifier is kept in output (to event)
                ;;            ;;                  one (or none) of the specified modifiers must be present
                ;;            ;;                  adding any other modifier will cancel the event
                ;;            ;;
                ;;            ;; ## Doesn't work because then cmd+shift o will trigger it
                ;;            ;; ## | optional any
                ;;            ;;                  specified modifier is removed in output (to event)
                ;;            ;;                  specified modifiers *must* be present for event to occur
                ;;            ;;                  adding any other modifier will add to output event
                ;;            ;;                  (what you typically expect, additional modifiers tacked on)
                ;;            ;;
                ;;            ; ! is best but downsides of ! in next line are:
                ;;            ; - To output modifier+key, you need to hold the modifier until the timeout completes.
                ;;            ; - If you activate the mode but don't complete the sequence within 500ms (:invoked), then key without modifier will be output.
                ;;            ;; TODO: Need to find a key that will never be used for anything else.
                ;;            [:!Csemicolon ["o-sub-layer-mode" 1] nil
                ;;               ; and if sublayer key is pressed alone, trigger o-sub-layer-mode variable
                ;;             {:alone ["o-sub-layer-mode" 1]
                ;;               ; when another key is invoked, or after a timeout, set the mode back to zero
                ;;              :delayed {:invoked [:!Csemicolon ["o-sub-layer-mode" 0]] :canceled ["o-sub-layer-mode" 0]}}]]}

                 ;; Any rule that depends on o-sub-layer-mode being set must come before the delayed declaration.
                 ;;  Enable r-sub-layer-mode
                 [:s ["r-sub-layer-mode" 1] nil
                    ; and if sublayer key is pressed alone, trigger r-sub-layer-mode variable
                  {:alone ["r-sub-layer-mode" 1]
                    ; when another key is invoked, or after a timeout, set the mode back to zero
                   :delayed {:invoked [:##s ["r-sub-layer-mode" 0]] :canceled ["r-sub-layer-mode" 0]}}]
                 ;;  Enable o-sub-layer-mode
                 [:semicolon ["o-sub-layer-mode" 1] nil
                    ; and if sublayer key is pressed alone, trigger o-o-sub-layer-mode variable
                  {:alone ["o-sub-layer-mode" 1]
                    ; when another key is invoked, or after a timeout, set the mode back to zero
                   :delayed {:invoked [:##semicolon ["o-sub-layer-mode" 0]] :canceled ["o-sub-layer-mode" 0]}}]]}

        ;; TODO: Consider a modifier key on the base layer. Two-Stroke
        ;Keybindings per
        ;https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#two-stroke-keybindings-emacs-c-x-mode

        {:des   "right_command to ` when pressed alone"
         :rules [[:##right_command :right_command nil {:alone :grave_accent_and_tilde}]]}

        {:des   "Right Shift to Bleh [⌥⇧] (? if alone)"
         :rules [[:##right_shift :!Oright_shift nil {:alone :!Sslash}]]}

        {:des   "left_option to esc when pressed alone"
         :rules [[:##left_option :left_option nil {:alone :escape}]]}

        {:des   "right_control to ! when pressed alone"
         :rules [[:##right_control :right_control nil {:alone :!S1}]]}

        {:des   "left_control to @ when pressed alone"
         :rules [[:##left_control :left_control nil {:alone :!S2}]]}

        {:des "One Mode: Colemak Numpad (Right Hand)"
         :rules [:one-mode
            [:spacebar :0]
            [:m :1]
            [:comma :2]
            [:period :3]
            [:j :4]
            [:k :5]
            [:l :6]
            [:u :7]
            [:i :8]
            [:o :9]
            [:p :hyphen]
            [:semicolon :!Sequal_sign]
            [:right_shift :return_or_enter]
         ]}

        {:des   "tab is tab, Shift+Command if held"
         :rules [[:##tab :tab nil {:held :!Sleft_command}]]}
        ;; For some reason, this inverse doesn't work in Google web apps to autocomplete chips.
        ;; {:des   "tab to Shift + Command when held down"
        ;;      :rules [[:##tab :!Sleft_command nil {:alone :tab}]]}
        ];; main list
 }
